@use  "../abstracts/variables" as var;  
.hero {
    background-image: url(../img/PHOTO-BUEAU.jpg) ;
    padding: 200px 0;

    .container {
        color: white;
        font-family: var.$fontregular;
        position: relative;
        margin-left: 200px;
        letter-spacing: 2px;
        .titleherocolor {
            color: gold;
            font-family: var.$fontbold;
           
        }
    }
}